<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Valglokale</title>
    <!-- jquery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <!-- libphonenumber -->
    <script src="https://cdn.jsdelivr.net/npm/libphonenumber-js@1.10.44/bundle/libphonenumber-js.min.js"></script>
    <!-- local -->
    <link rel="stylesheet" href="/main.css" />
    <script src="/script/util/redirect.js" defer></script>
    <script src="/script/util/verify.js" defer></script>
  </head>
  <body>
    <div class="main-container" id="verify">
      <h1 class="sub-header">Bekreft identiteten din</h1>
      <button class="button facebook-button" id="verify-button" loc="/vote">
        <img src="/img/logo/brand/fb.png" alt="Facebook" class="hint-img" />Logg inn
      </button>
    </div>
  </body>
</html>
