<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Valglokale</title>
    <!-- jquery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <!-- local -->
    <link rel="stylesheet" href="/main.css" />
    <script src="/script/util/redirect.js" defer></script>
    <script src="/script/util/vote.js" defer></script>
  </head>
  <body>
    <div class="main-container" id="vote">
      <div class="container-vote">
        <div class="vote-card" id="card-r" dbid="1">
          <img src="/img/logo/parti/r.png" alt="Rødt" class="hint-img" id="r" />
          <p class="hint">Rødt</p>
        </div>
        <div class="vote-card" id="card-sv" dbid="2">
          <img src="/img/logo/parti/sv.png" alt="Sosialistisk Venstreparti" class="hint-img" id="sv" />
          <p class="hint">Sosialistisk Venstreparti</p>
        </div>
        <div class="vote-card" id="card-ap" dbid="3">
          <img src="/img/logo/parti/ap.png" alt="Arbeiderpartiet" class="hint-img" id="ap" />
          <p class="hint">Arbeiderpartiet</p>
        </div>
        <div class="vote-card" id="card-sp" dbid="4">
          <img src="/img/logo/parti/sp.png" alt="Senterpartiet" class="hint-img" id="sp" />
          <p class="hint">Senterpartiet</p>
        </div>
        <div class="vote-card" id="card-mdg" dbid="5">
          <img src="/img/logo/parti/mdg.png" alt="Miljøpartiet De Grønne" class="hint-img" id="mdg" />
          <p class="hint">Miljøpartiet De Grønne</p>
        </div>
        <div class="vote-card" id="card-krf" dbid="6">
          <img src="/img/logo/parti/krf.png" alt="Kristelig Folkeparti" class="hint-img" id="krf" />
          <p class="hint">Kristelig Folkeparti</p>
        </div>
        <div class="vote-card" id="card-v" dbid="7">
          <img src="/img/logo/parti/v.png" alt="Venstre" class="hint-img" id="v" />
          <p class="hint">Venstre</p>
        </div>
        <div class="vote-card" id="card-h" dbid="8">
          <img src="/img/logo/parti/h.png" alt="Høyre" class="hint-img" id="h" />
          <p class="hint">Høyre</p>
        </div>
        <div class="vote-card" id="card-frp" dbid="9">
          <img src="/img/logo/parti/frp.png" alt="Fremskrittspartiet" class="hint-img" id="frp" />
          <p class="hint">Fremskrittspartiet</p>
        </div>
      </div>
      <button class="button" id="vote-button" disabled>Velg et parti</button>
    </div>
  </body>
</html>
