:root {
    --text: #080808;
    --background: #f0f0f0;
    --primary: #1e1e1e;
    --secondary: #3e3e3e;
    --accent: #ededed;
    --white: #ffffff;
    /* parti */
    --r: #e90302;
    --sv: #EB4040;
    --sp: #00843d;
    --ap: #d70926;
    --mdg: #597d22;
    --krf: #db4f43;
    --v: #006666;
    --h: #0065f1;
    --frp: #004f80;
}

html, body {
    /* sizing */
    margin: 0;
    height: 100%;
    /* color */
    background: var(--background);
    /* text */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.125rem;
    color: var(--text);
}

.header {
    font-size: 2.188rem;
    font-weight: 700;
}

.sub-header {
    font-size: 1.875rem;
    font-weight: 600;
}

.hero-header {
    font-size: 4.375rem;
    text-align: left;
    margin: 0;
}

.link {
    /* color */
    color: inherit;
    /* animation */
    text-decoration: none;
}

.text-gradient {
    /* effect */
    background: linear-gradient(120deg, var(--secondary), var(--accent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button {
    /* sizing */
    padding: 0.75em 1.25em;
    margin-top: 0.25em;
    /* border */
    border: 0;
    border-radius: 6px;
    /* color */
    background: var(--primary);
    color: var(--background);
    /* text */
    font-size: 1.125rem;
    /* animation */
    transition: transform ease 0.2s, box-shadow ease 0.2s, opacity ease 0.2s;
}

.button.secondary-button {
    /* color */
    background: var(--white);
    color: var(--text);
    /* border */
    border: 2px var(--accent) solid;
    border-radius: 8px;
}

.button:hover:not(:disabled):not(.secondary-button) {
    cursor: pointer;
    /* animation */
    transform: translateY(-1.5px);
    box-shadow: 0 10px 40px -10px var(--primary);
}

.button.secondary-button:hover:not(:disabled) {
    cursor: pointer;
    /* animation */
    transform: translateY(-1.5px);
    box-shadow: 0 0px 40px -20px var(--primary);
}

.button:disabled {
    opacity: 80%;
}

.button:disabled:hover {
    cursor:not-allowed;
    opacity: 70%;
}

.input-field {
    /* sizing */
    padding: 0.75em 1.25em;
    margin: 1em 0;
    /* text */
    font-size: 1.125rem;
    /* border */
    border: 2px var(--accent) solid;
    border-radius: 8px;
    /* animation */
    transition: box-shadow ease 0.2s;

}

.input-field:focus {
    outline: none;
    /* animation */
    box-shadow: 0 0px 40px -20px var(--primary);
}

.input-choice {
    display: inline-flex;
    align-items: center;
    margin: 0 0.8em;
}

.hint {
    margin: 0.4em 0;
}

.input-radio {
    width: 100%;
    height: 2em;
}

.main-container {
    /* position */
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-row {
    flex-direction: row;
}


.result-chart {
    width: 60vw;
    margin: 1em 0
}

.container-vote {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1vw;
    grid-row-gap: 2vh;
    margin: 0 0 5vh 0;
}

.vote-card {
    /* sizing */
    padding: 0.5em 1.25em;
    width: 13vw;
    height: 6vh;
    /* position */
    display: flex;
    align-items: center;
    overflow: hidden;
    /* color */
    background: var(--white);
    /* text */
    font-size: 1.125rem;
    /* border */
    border: 2px var(--accent) solid;
    border-radius: 8px;
    /* animation */
    transition: background ease 0.2s;
}

.vote-card > .hint-img {
    /* sizing */
    width: 3vw;
    margin: 0 1vw 0 0 ;
}

.vote-card:hover {
    cursor: pointer;
    color: var(--background);
}

.vote-card:hover>.hint-img {
    filter: brightness(0) saturate(100%) invert(99%) sepia(2%) saturate(411%) hue-rotate(333deg) brightness(116%) contrast(88%);
}

.vote-card#card-r {
    grid-area: 1 / 1 / 2 / 2;
}

.vote-card#card-r:hover {
    background: var(--r);
}

.vote-card#card-sv {
    grid-area: 1 / 2 / 2 / 3;
}

.vote-card#card-sv:hover {
    background: var(--sv);
}

.vote-card#card-sp {
    grid-area: 2 / 1 / 3 / 2;
}

.vote-card#card-sp:hover {
    background: var(--sp);
}

.vote-card#card-ap {
    grid-area: 1 / 3 / 2 / 4;
}

.vote-card#card-ap:hover {
    background: var(--ap);
}

.vote-card#card-mdg {
    grid-area: 2 / 2 / 3 / 3;
}

.vote-card#card-mdg:hover {
    background: var(--mdg);
}

.vote-card#card-krf {
    grid-area: 2 / 3 / 3 / 4;
}

.vote-card#card-krf:hover {
    background: var(--krf);
}

.vote-card#card-v {
    grid-area: 3 / 1 / 4 / 2;
}

.vote-card#card-v:hover {
    background: var(--v);
}

.vote-card#card-h {
    grid-area: 3 / 2 / 4 / 3;
}

.vote-card#card-h:hover {
    background: var(--h);
}

.vote-card#card-frp {
    grid-area: 3 / 3 / 4 / 4;
}

.vote-card#card-frp:hover {
    background: var(--frp);
}

@media only screen and (max-width: 640px) {
    .vote-card {
        display: grid;
        place-items: center;
    }
    .vote-card > .hint {
        display: none;
        }
    .vote-card > .hint-img {
        width: 9vw;
    }
}
