<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Valglokale</title>
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <!-- jquery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <!-- libphonenumber -->
    <script src="https://cdn.jsdelivr.net/npm/libphonenumber-js@1.10.44/bundle/libphonenumber-js.min.js"></script>
    <!-- local -->
    <link rel="stylesheet" href="/main.css" />
    <script src="/script/util/redirect.js" defer></script>
    <script src="/script/util/verify.js" defer></script>
  </head>
  <body>
    <div class="main-container">
      <div class="legal">
        <h1 class="header">Privacy Policy</h1>
        <p><em>Effective Date:</em> 20.10.2023</p>

        <h2 class="sub-header">1. Introduction</h2>
        <p>
          This Privacy Policy describes how we collect, use, and share information in connection with your use of Digitalt Valglokale, including when you vote.
          We take your privacy seriously and are committed to safeguarding your personal information.
        </p>

        <h2 class="sub-header">2. Information We Collect</h2>
        <p class="sub-header">a. User ID:</p>
        <p>When you use our app, we collect your Facebook User ID to identify your interactions with the app.</p>
        <p class="sub-header">b. Voting Data:</p>
        <p>
          We only collect data related to the votes you cast. This data includes the option you voted for and the time of your vote. No other data is connected
          to your Facebook account.
        </p>

        <h2 class="sub-header">3. How We Use Your Information</h2>
        <p>
          We use the collected information for the sole purpose of maintaining and improving our app, and to provide you with a seamless voting experience. We
          do not sell or share your personal information with third parties.
        </p>

        <h2 class="sub-header">4. Security</h2>
        <p>
          We employ industry-standard security measures to protect your data. However, no method of transmission over the internet is completely secure, and we
          cannot guarantee the absolute security of your data.
        </p>

        <h2 class="sub-header">5. Children's Privacy</h2>
        <p>
          Our app is not intended for children under the age of 13. We do not knowingly collect personal information from children under this age. If you are a
          parent or guardian and believe that your child has provided us with personal information, please contact us.
        </p>

        <h2 class="sub-header">6. Changes to this Privacy Policy</h2>
        <p>
          We reserve the right to update this Privacy Policy to reflect changes in our data practices. We will notify you of any material changes by email or by
          posting a notice on our app.
        </p>

        <h2 class="sub-header">7. Contact Information</h2>
        <p>If you have any questions or concerns about our Privacy Policy, please contact us at henrik.haugen.lindstad@gmail.com.</p>
      </div>
    </div>
  </body>
</html>
