<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Valglokale</title>
    <!-- jquery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <!-- local -->
    <link rel="stylesheet" href="/main.css" />
    <script src="/script/util/redirect.js" defer></script>
  </head>
  <body>
    <div class="main-container">
      <h1 class="hero-header">
        Digitalt <br />
        Valglokale
      </h1>
      <br />
      <div class="container-row">
        <button class="button redirect-button" loc="/verify">Stem</button>
        <button class="button secondary-button redirect-button" loc="/results">Se resultater</button>
      </div>
    </div>
  </body>
</html>
