:root {
    --text: #080808;
    --background: #f0f0f0;
    --primary: #1e1e1e;
    --secondary: #3e3e3e;
    --accent: #ededed;
    /* parti */
    --rodt: #e90302;
    --arbeiderpartiet: #d70926;
    --sosialistisk-venstreparti: #539760;
    --senterpartiet: #00843d;
    --miljopartiet-de-gronne: #597d22;
    --kristelig-folkeparti: #db4f43;
    --venstre: #006666;
    --hoyre: #0065f1;
    --fremskrittspartiet: #004F80;
}

html, body {
    /* sizing */
    margin: 2em 2em;
    /* color */
    background: var(--background);
    /* text */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.125rem;
    color: var(--text);
}

.header {
    font-size: 2.188rem;
    font-weight: 700;
}

.sub-header {
    font-size: 1.875rem;
    font-weight: 600;
}

.hero.header {
    font-size: 4.375rem;
}

.text-gradient {
    /* effect */
    background: linear-gradient(120deg, var(--secondary), var(--accent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button {
    /* sizing */
    padding: 0.75em 1.25em;
    /* border */
    border: 0;
    border-radius: 6px;
    /* color */
    background: var(--primary);
    color: var(--background);
    /* text */
    font-size: 1.125rem;
    /* animation */
    transition: transform ease 0.2s, box-shadow ease 0.2s, opacity ease 0.2s;
}

.button:hover:not(.inactive) {
    cursor: pointer;
    /* animation */
    transform: translateY(-1.5px);
    box-shadow: 0 10px 40px -10px var(--primary);
}

.button.inactive {
    opacity: 80%;
}

.button.inactive:hover {
    cursor:not-allowed;
    opacity: 70%;
}

.input-field {
    /* sizing */
    padding: 0.75em 1.25em;
    margin: 1em 0;
    /* text */
    font-size: 1.125rem;
    /* border */
    border: 2px var(--accent) solid;
    border-radius: 8px;
    /* animation */
    transition: box-shadow ease 0.2s;

}

.input-field:focus {
    outline: none;
    /* animation */
    box-shadow: 0 0px 40px -20px var(--primary);
}

.input-choice {
    display: inline-flex;
    align-items: center;
    margin: 0 0.8em;
}

.hint {
    margin: 0.4em 0;
}

.input-radio {
    width: 100%;
    height: 2em;
}

.container-vote {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 1vw;
    grid-row-gap: 2vh;
}

.vote-card {
    /* sizing */
    padding: 0.5em 1.25em;
    width: 15vw;
    height: 6vh;
    /* position */
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    /* color */
    background: #fff;
    /* text */
    font-size: 1.125rem;
    /* border */
    border: 2px var(--accent) solid;
    border-radius: 8px;
    /* animation */
    transition: background ease 0.2s;
}

.vote-card > .hint-img {
    /* sizing */
    width: 3vw;
    margin: 0 1vw 0 0 ;
}

.vote-card:hover {
    cursor: pointer;
    color: var(--background);
}

.vote-card:hover>.hint-img {
    filter: brightness(0) saturate(100%) invert(99%) sepia(2%) saturate(411%) hue-rotate(333deg) brightness(116%) contrast(88%);
}

.vote-card#card-r {
    grid-area: 1 / 1 / 2 / 2;
}

.vote-card#card-r:hover {
    background: var(--rodt);
}

.vote-card#card-sv {
    grid-area: 1 / 2 / 2 / 3;
}

.vote-card#card-sv:hover {
    background: var(--sosialistisk-venstreparti);
}

.vote-card#card-sp {
    grid-area: 1 / 3 / 2 / 4;
}

.vote-card#card-sp:hover {
    background: var(--senterpartiet);
}

.vote-card#card-ap {
    grid-area: 2 / 1 / 3 / 2;
}

.vote-card#card-ap:hover {
    background: var(--arbeiderpartiet);
}

.vote-card#card-mdg {
    grid-area: 2 / 2 / 3 / 3;
}

.vote-card#card-mdg:hover {
    background: var(--miljopartiet-de-gronne);
}

.vote-card#card-krf {
    grid-area: 2 / 3 / 3 / 4;
}

.vote-card#card-krf:hover {
    background: var(--kristelig-folkeparti);
}

.vote-card#card-v {
    grid-area: 3 / 1 / 4 / 2;
}

.vote-card#card-v:hover {
    background: var(--venstre);
}

.vote-card#card-h {
    grid-area: 3 / 2 / 4 / 3;
}

.vote-card#card-h:hover {
    background: var(--hoyre);
}

.vote-card#card-frp {
    grid-area: 3 / 3 / 4 / 4;
}

.vote-card#card-frp:hover {
    background: var(--fremskrittspartiet);
}
